.page_heading {
    font-weight: 400;
    font-size: 36px;
    padding-block: 40px;
    text-transform: uppercase;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.product {
    width: 386px;
    height: 444px;
    padding: 1rem;
}

.product_image {
    /* width: 100%; */
    width: 356px;
    height: 338px;
    object-fit: cover;
    margin-bottom: 21px;
}

.product_title {
    font-weight: 300;
    font-size: 18px;
    color: #8D8F9A;
}

.product_price {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #8D8F9A;

}